<style>
  #deskripsi {
    margin: 0;
    /* Menghapus margin bawaan pada elemen <p> */
    line-height: 1.5;
    /* Menetapkan jarak antar baris */
    text-align: justify;
    /* Membuat teks rata kiri dan kanan */
    white-space: pre-line;
  }
</style>

<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-icon name="arrow-back-outline" class="ion-margin-end" (click)="goBack()"></ion-icon>Detail Team
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="team">
    <div style="display: flex; justify-content: center;" class="ion-margin-top ion-margin-bottom">
      <img src="{{ team.strTeamBadge }}" alt="" width="150px">
    </div>
    <div class="ion-text-center">
      <p>{{ team.intFormedYear }}</p>
      <p>{{ team.strCountry }}</p>
    </div>

    <ion-card-header>
      <ion-card-title>{{ team.strTeam }} ( {{ team.strAlternate }} )</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p id="deskripsi">{{ team.strDescriptionEN }}</p>
    </ion-card-content>
  </ion-card>

  <div *ngIf="!team" class="ion-text-center ion-justify-content-center ion-align-items-center"
    style="height: 100%; display: flex;">
    <ion-spinner name="crescent"></ion-spinner>
  </div>
</ion-content>