<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="football-outline"></ion-icon>
      <ion-label>Teams</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="trophy-outline"></ion-icon>
      <ion-label>Match</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="walk-outline"></ion-icon>
      <ion-label>Player</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon name="bookmarks-outline"></ion-icon>
      <ion-label>Favorite</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>