<ion-header>
  <ion-toolbar>
    <ion-title>
      Tim Sepak Bola
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let team of teams" size="4">
        <ion-card>
          <ion-card-content class=" ion-text-center" (click)="openDetail(team.idTeam)">
            <ion-img [src]="team.strTeamBadge" alt="Team Logo"></ion-img>
            <ion-label class="ion-margin">
              <h2>{{ team.strTeam }}</h2>
            </ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="teams.length === 0" class="ion-text-center ion-justify-content-center ion-align-items-center"
    style="height: 100%; display: flex;">
    <ion-spinner name="crescent"></ion-spinner>
  </div>
</ion-content>