<ion-header>
  <ion-toolbar>
    <ion-title>
      Pertandingan
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-searchbar #searchBar (ionChange)="fetchDataPlayerByName(searchBar.value || '')"></ion-searchbar>

  <ion-card *ngFor="let player of players">
    <ion-card-title class="ion-text-center ion-margin-top">{{ player.strPlayer }}</ion-card-title>
    <ion-card-content>
      <div class="ion-text-center">
        <img [src]="player.strThumb.length > 0 ? player.strThumb : 'https://via.placeholder.com/300x200'" alt=""
          width="150px">
      </div>
      <ion-item>
        <ion-label>Posisi</ion-label>
        <ion-note slot="end">{{ player.strPosition }}</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>Tinggi Badan</ion-label>
        <ion-note slot="end">{{ player.strHeight }}</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>Berat Badan</ion-label>
        <ion-note slot="end">{{ player.strWeight }}</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>Deskripsi</ion-label>
        <ion-note slot="end" id="deskripsi">{{ player.strDescriptionEN }}</ion-note>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="players.length === 0 && strPlayerName !== ''">
    <ion-card-content>
      <p class="ion-text-center">Silahkan cari player</p>
    </ion-card-content>
  </ion-card>
</ion-content>